In [1]:
from sqlalchemy.sql.schema import Table
from sqlalchemy.orm.query import Query
from sqlalchemy.orm import Session
from data.database import engine, Base, get_db
import pandas as pd
from data.models import t_tableau3_t2_tjfs_join_edl_dashadmin  # Import all models generated in models.py
import sys
from typing import List
from utils.filter import high_level_filter_map
from utils.utils import convert_query_to_df, extract_unique_values, create_filter_map, convert_filter_to_query
from typing import Dict, List

import math
import pandas as pd
from typing import List, Any


# Create the database tables (if they don't already exist)
Base.metadata.create_all(bind=engine)

## Total Test count: 31498

2024-06-21 11:26:06.223 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2024-06-21 11:26:06.224 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [14]:
get_db()

In [ ]:
# db = Session(bind=engine)
# table = t_tableau3_t2_tjfs_join_edl_dashadmin
# query = db.query(table).filter(table.c['testname'].in_(['ACTH']))
# res_df = convert_query_to_df(query)

In [10]:
def get_unique_values(input_list: List[Any]) -> List[Any]:
    """
    This function takes a list containing various types including float('nan') and returns a new list
    with unique values and compresses all 'nan' values into a single occurrence.
    """

    return list(set(map(str, input_list)))


def create_test_detail(df:pd.DataFrame) -> Dict:
    """
    df contains dataframe of a single test
    """
    col_to_unique_map = dict()
    for col in df.columns:
        col_to_unique_map[col] = get_unique_values(list(df[col]))
    
    return col_to_unique_map

def create_sorted_dataframe(data: dict[str,List]) -> pd.DataFrame:
    """
    Converts a dictionary of lists into a sorted DataFrame,
    where each list is padded to the same length and sorted in descending order.
    """
    def sort_row(row):
        return sorted(row, key=lambda x: (x != "", str(x)), reverse=True)
    
    labels = list(data.keys())
    lists = list(data.values())
    
    # Determine the maximum length of the lists
    max_length = max(len(lst) for lst in lists)
    
    # Pad the shorter lists with empty strings
    for label in data.keys():
        num_pad = max_length - len(data[label])
        data[label] = data[label] + [""] * num_pad
    
    sorted_data = {label:sort_row(data[label]) for label in data.keys()}
    
    return pd.DataFrame(sorted_data)
    
def generate_test_detail_dataframe(test_df:pd.DataFrame) -> pd.DataFrame:
    """
    Processes a DataFrame of test details to generate sorted DataFrames for each
    column (excluding 'testname'), mapping tests to unique details for each specified column.
    The function groups the input data by 'testname', constructs a dictionary of test details, 
    and then yields a tuple containing the column name and the corresponding sorted DataFrame.
    """
    
    test_to_col_to_detail = dict()
    for test, df in test_df.groupby(by='testname'):
        test_to_col_to_detail[test] = create_test_detail(df)

    test_list = test_to_col_to_detail.keys()
    col_names = list(next(iter(test_to_col_to_detail.values())).keys())
    col_names.remove('testname')
    
    for col in col_names:
        test_to_detail_list = {test: list(set(map(str,test_to_col_to_detail[test][col]))) for test in test_list}
        yield col, create_sorted_dataframe(test_to_detail_list)

In [11]:
test_df = pd.read_csv('test.csv')

In [12]:
for col_name,df in generate_test_detail_dataframe(test_df):
    print(col_name)
    display(df)

category

          Mammography          Ultrasound               X-ray
0  Condition Specific  Condition Specific  Condition Specific

conditionname

,Mammography,Ultrasound,X-ray
0,"Breast cancer, metastatic",Trauma,Tuberculosis
1,,Stroke,Trauma
2,,Liver cancer,Pneumonia community (severe)
3,,"Colorectal cancer, metastatic",Malaria
4,,Chronic kidney disease,"Lung cancer, non small cell"
5,,,Hypertensive heart disease
6,,,COPD
7,,,Acute coronary syndrome

conditionlevel

  Mammography Ultrasound     X-ray
0      triage   moderate    triage
1                         moderate

testreason

  Mammography Ultrasound          X-ray
0   Diagnosis  Diagnosis     Monitoring
1                         DiffDiagnosis
2                             Diagnosis

testnote

,Mammography,Ultrasound,X-ray
0,nan,nan,pnuemonia; chest xray
1,,Transcranial doppler,nan
2,,,"PE, dissection"
3,,,Chest X-ray. Indicated for most dyspneic patie...
4,,,Chest X-ray

medicineorconditionnote

  Mammography Ultrasound X-ray
0         nan        nan   nan

sublist

,Mammography,Ultrasound,X-ray
0,Higher Priority Clinical Testing,Higher Priority Clinical Testing,Remaining
1,,,Higher Priority Clinical Testing

medicine

,Mammography,Ultrasound,X-ray
0,supportive care,verapamil,supportive care
1,,supportive care,sulfadoxine_pyrimethamine
2,,spironolactone,spironolactone
3,,oxaliplatin,simvastatin
4,,losartan,salbutamol
5,,hydrochlorothiazide,rifampicin_isoniazid_pyrazinamide_ethambutol
6,,furosemide,rifampicin_isoniazid_pyrazinamide
7,,fluorouracil,rifampicin_isoniazid
8,,enalapril,primaquine
9,,clopidogrel,losartan
10,,capecitabine,isoniazid
11,,bisoprolol,ipratropium bromide
12,,amlodipine,hydrochlorothiazide
13,,,furosemide
14,,,ethambutol_isoniazid_ rifampicin
15,,,ethambutol_isoniazid
16,,,ethambutol
17,,,doxycycline
18,,,clopidogrel
19,,,clarithromycin
20,,,budesonide_formoterol
21,,,bisoprolol
22,,,benzylpenicillin
23,,,beclometasone
24,,,artesunate_mefloquine
25,,,artesunate _amodiaquine
26,,,artesunate
27,,,artemether_lumefantrine
28,,,artemether
29,,,ampicillin
30,,,amoxicillin_clavulanic acid
31,,,amoxicillin
32,,,amodiaquine
33,,,amiloride

conditionnotefromusestable

  Mammography Ultrasound                  X-ray
0         nan        nan                    nan
1                  edema                  edema
2                         acute and prophylaxis

medicineusesgeneralnote

  Mammography                 Ultrasound                      X-ray
0         nan                        nan                        nan
1              Periph arterial disease?   Periph arterial disease?

categories

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||
1,,DIURETICS|||||,MEDICINES ACTING ON THE RESPIRATORY TRACT|Anti...
2,,CARDIOVASCULAR MEDICINES|Antithrombotic medici...,DIURETICS|||||
3,,CARDIOVASCULAR MEDICINES|Antihypertensive medi...,CARDIOVASCULAR MEDICINES|Medicines used in hea...
4,,CARDIOVASCULAR MEDICINES|Antiarrhythmic medici...,CARDIOVASCULAR MEDICINES|Lipid lowering agents...
5,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotox...,CARDIOVASCULAR MEDICINES|Antithrombotic medici...
6,,,ANTI INFECTIVE MEDICINES|Antiprotozoal medicin...
7,,,ANTI INFECTIVE MEDICINES|Antibacterials|Other ...
8,,,ANTI INFECTIVE MEDICINES|Antibacterials|Beta L...
9,,,ANTI INFECTIVE MEDICINES|Antibacterials|Antitu...

lancet_gbd

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

lancet_condition_tier

  Mammography Ultrasound      X-ray
0     Primary   Tertiary  Secondary
1              Secondary    Primary

ghana_condition_tier

  Mammography Ultrasound X-ray
0           D        nan   nan

india_condition_tier

  Mammography Ultrasound X-ray
0           T        nan   nan

nigeria_condition_tier

  Mammography Ultrasound          X-ray
0    Hospital        nan            nan
1               Hospital       Hospital
2                         Health Centre

kenya_condition_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_indications

  Mammography Ultrasound X-ray
0         nan        nan   nan

test_name_short

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

test_name_pretty

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

clinical_service

  Mammography  Ultrasound               X-ray
0    Oncology     Surgery             Surgery
1                Oncology           Pulmonary
2              Nephrology            Oncology
3              Cardiology  Infectious disease
4                                  Cardiology

who_eml_v19

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

who_eml_v20

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

who_eml_v20_core

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes
1                     No

who_eml_v20_complementary

  Mammography Ultrasound X-ray
0          No        Yes    No
1                     No

india_eml_2015_core

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes
1                     No    No

ghana_nhis_2018

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

ghana_eml_2010

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

ghana_eml_2017

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

ghana_eml_2017_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      C    PM
2                     B2     D
3                     B1     C
4                           B2
5                           B1
6                            A

ghana_eml_2017_reimbursed

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes
2                           No

notes

,Mammography,Ultrasound,X-ray
0,nan,nan,nan
1,,"includes atenolol, metoprolol and carvedilol a...",To be used in combination with either amodiaqu...
2,,"early stage colon cancer, metastatic colorecta...",To be used in combination with artesunate 50 mg
3,,"early stage colon cancer, early stage rectal c...",Only in combination with artesunate 50 mg. For...
4,,"early stage breast cancer, early stage colon c...",Only for use to achieve radical cure of P.viva...
5,,,For use only in combination with quinine.
6,,,For use in the management of severe malaria
7,,,For use in high risk patients
8,,,"For Kenya, do nor use in first trimester."
9,,,"For Kenya, budesonide inhalation available as ..."
10,,,FIRST CHOICE community acquired pneumonia (se...
11,,,FIRST CHOICE community acquired pneumonia (s...
12,,,FIRST CHOICE community acquired pneumonia (s...
13,,,FIRST CHOICE community acquired pneumonia (m...
14,,,FIRST CHOICE Chlamydia trachomatis ? cholera...
15,,,*erythromycin may be an alternative. ?clarithr...

medicine_name

,Mammography,Ultrasound,X-ray
0,supportive care,verapamil,supportive care
1,,supportive care,sulfadoxine_pyrimethamine
2,,spironolactone,spironolactone
3,,oxaliplatin,simvastatin
4,,losartan,salbutamol
5,,hydrochlorothiazide,rifampicin_isoniazid_pyrazinamide_ethambutol
6,,furosemide,rifampicin_isoniazid_pyrazinamide
7,,fluorouracil,rifampicin_isoniazid
8,,enalapril,primaquine
9,,clopidogrel,losartan
10,,capecitabine,isoniazid
11,,bisoprolol,ipratropium bromide
12,,amlodipine,hydrochlorothiazide
13,,,furosemide
14,,,ethambutol_isoniazid_ rifampicin
15,,,ethambutol_isoniazid
16,,,ethambutol
17,,,doxycycline
18,,,clopidogrel
19,,,clarithromycin
20,,,budesonide_formoterol
21,,,bisoprolol
22,,,benzylpenicillin
23,,,beclometasone
24,,,artesunate_mefloquine
25,,,artesunate _amodiaquine
26,,,artesunate
27,,,artemether_lumefantrine
28,,,artemether
29,,,ampicillin
30,,,amoxicillin_clavulanic acid
31,,,amoxicillin
32,,,amodiaquine
33,,,amiloride

representative

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    1.0   1.0

preferred

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    1.0   1.0

view_order

   Mammography Ultrasound  X-ray
0          nan        nan    nan
1                   522.0   98.0
2                   510.0   97.0
3                   496.0   96.0
4                   287.0   78.0
5                   284.0   77.0
6                   240.0   76.0
7                   237.0   75.0
8                   235.0   74.0
9                   233.0   73.0
10                  232.0   72.0
11                  231.0  368.0
12                  229.0  367.0
13                         365.0
14                         363.0
15                         283.0
16                         250.0
17                         248.0
18                         247.0
19                         246.0
20                         243.0
21                         242.0
22                         240.0
23                         161.0
24                         159.0
25                         157.0
26                         155.0
27                         154.0
28                         153.0
29                         152.0
30                         151.0
31                         150.0
32                         121.0
33                         119.0
34                         100.0

ghana_eml_2017_todo

  Mammography Ultrasound X-ray
0          No         No    No

uid

   Mammography Ultrasound   X-ray
0       1731.0     1731.0   985.0
1                  1369.0   982.0
2                  1364.0   961.0
3                  1283.0   958.0
4                  1272.0   957.0
5                  1269.0   953.0
6                  1267.0   952.0
7                  1264.0   951.0
8                  1261.0   940.0
9                  1260.0   938.0
10                 1193.0   937.0
11                 1180.0   936.0
12                 1165.0  1825.0
13                         1731.0
14                         1500.0
15                         1497.0
16                         1492.0
17                         1490.0
18                         1362.0
19                         1298.0
20                         1296.0
21                         1295.0
22                         1294.0
23                         1289.0
24                         1287.0
25                         1283.0
26                         1042.0
27                         1040.0
28                         1038.0
29                         1033.0
30                         1032.0
31                         1031.0
32                         1030.0
33                         1029.0
34                         1028.0

enteredby

  Mammography Ultrasound     X-ray
0         nan        nan       nan
1               dmanthei  dmanthei

ghana_nhis_2018_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      C     D
2                     B2     C
3                     B1    B2
4                           B1
5                            A

kenya_eml_2016

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

kenya_eml_2016_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      S     S
2                      4     4
3                            3
4                            2
5                            1

kenya_eml_2016_todo

  Mammography   Ultrasound        X-ray
0         nan          nan          nan
1              Preexisting  Preexisting

categories_combined

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||
1,,DIURETICS|||||,MEDICINES ACTING ON THE RESPIRATORY TRACT|Anti...
2,,CARDIOVASCULAR MEDICINES|Antithrombotic medici...,DIURETICS|||||
3,,CARDIOVASCULAR MEDICINES|Antihypertensive medi...,CARDIOVASCULAR MEDICINES|Medicines used in hea...
4,,CARDIOVASCULAR MEDICINES|Antiarrhythmic medici...,CARDIOVASCULAR MEDICINES|Lipid lowering agents...
5,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotox...,CARDIOVASCULAR MEDICINES|Antithrombotic medici...
6,,,ANTI INFECTIVE MEDICINES|Antiprotozoal medicin...
7,,,ANTI INFECTIVE MEDICINES|Antibacterials|Other ...
8,,,ANTI INFECTIVE MEDICINES|Antibacterials|Beta L...
9,,,ANTI INFECTIVE MEDICINES|Antibacterials|Antitu...

who_edl_v2

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1_draft

  Mammography Ultrasound X-ray
0         nan        nan   nan

test_format

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

specimen_type

      Mammography      Ultrasound           X-ray
0  Not applicable  Not applicable  Not applicable

laboratory

  Mammography Ultrasound      X-ray
0   Radiology  Radiology  Radiology

nigeria_eml_2016

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

nigeria_eml_2016_level

  Mammography             Ultrasound                  X-ray
0         nan                    nan                    nan
1              Primary Health Clinic  Primary Health Clinic
2                           Hospital               Hospital
3                                               Health Post
4                                             Health Centre

nigeria_eml_2016_todo

  Mammography   Ultrasound        X-ray
0         nan          nan          nan
1              Preexisting  Preexisting

nigeria_eml_2016_enteredby

  Mammography Ultrasound    X-ray
0         nan        nan      nan
1                harikay  harikay

eml_cat_1

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE,SUPPORTIVE CARE,SUPPORTIVE CARE
1,,DIURETICS,MEDICINES ACTING ON THE RESPIRATORY TRACT
2,,CARDIOVASCULAR MEDICINES,DIURETICS
3,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES,CARDIOVASCULAR MEDICINES
4,,,ANTI INFECTIVE MEDICINES

india_edl_v1_sup_draft

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_v2_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

user_edl

  Mammography Ultrasound X-ray
0         nan        nan   nan

nigeria_test_tier_capacity

  Mammography Ultrasound X-ray
0         nan        nan   nan

ghana_nhis

  Mammography Ultrasound X-ray
0         nan        nan   nan

ghana_nhis_reimbursement_usd

  Mammography Ultrasound X-ray
0         nan        nan   nan

lancet_test_tier_capacity

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_v2_condition

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

test_format_lancet_tier

  Mammography Ultrasound      X-ray
0    Tertiary  Secondary  Secondary

test_format_lancet_include

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

lancet_indication_exclude

  Mammography Ultrasound X-ray
0         nan        nan   nan

condition_name_lancet

     Mammography               Ultrasound                         X-ray
0  Breast cancer                   Trauma                  Tuberculosis
1                            Liver cancer                        Trauma
2                       Colorectal cancer                       Malaria
3                  Chronic kidney disease                   Lung cancer
4                 Cerebrovascular disease  Lower respiratory infections
5                                                Ischemic heart disease
6                                            Hypertensive heart disease
7                                                                  COPD

clinical_chemistry

  Mammography Ultrasound X-ray
0         nan        nan   nan

higherpriority

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

indonesia_eml_phc

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

indonesia_phc_conditions

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

indonesia_phc_exclude

  Mammography Ultrasound X-ray
0         nan        nan   nan

In [13]:
['Mammography',	'Ultrasound','X-ray']

'Mammography- Ultrasound- X-ray'

In [7]:
test_to_col_to_detail = dict()
for test, df in test_df.groupby(by='testname'):
    test_to_col_to_detail[test] = create_test_detail(df)
test_to_col_to_detail

{'Mammography': {'testname': ['Mammography'],
  'category': ['Condition Specific'],
  'conditionname': ['Breast cancer, metastatic'],
  'conditionlevel': ['triage'],
  'testreason': ['Diagnosis'],
  'testnote': [nan],
  'medicineorconditionnote': [nan],
  'sublist': ['Higher Priority Clinical Testing'],
  'medicine': ['supportive care'],
  'conditionnotefromusestable': [nan],
  'medicineusesgeneralnote': [nan],
  'categories': ['SUPPORTIVE CARE|||||'],
  'lancet_gbd': ['Yes'],
  'lancet_condition_tier': ['Primary'],
  'ghana_condition_tier': ['D'],
  'india_condition_tier': ['T'],
  'nigeria_condition_tier': ['Hospital'],
  'kenya_condition_tier': [nan],
  'who_edl_indications': [nan],
  'test_name_short': ['Mammography'],
  'test_name_pretty': ['Mammography'],
  'clinical_service': ['Oncology'],
  'who_eml_v19': ['No'],
  'who_eml_v20': ['Yes'],
  'who_eml_v20_core': ['Yes'],
  'who_eml_v20_complementary': ['No'],
  'india_eml_2015_core': ['Yes'],
  'ghana_nhis_2018': [nan],
  'ghana_eml_2010': ['No'],
  'ghana_eml_2017': ['No'],
  'ghana_eml_2017_level': [nan],
  'ghana_eml_2017_reimbursed': [nan],
  'notes': [nan],
  'medicine_name': ['supportive care'],
  'representative': [nan],
  'preferred': [nan],
  'view_order': [nan],
  'ghana_eml_2017_todo': ['No'],
  'uid': [1731.0],
  'enteredby': [nan],
  'ghana_nhis_2018_level': [nan],
  'kenya_eml_2016': ['No'],
  'kenya_eml_2016_level': [nan],
  'kenya_eml_2016_todo': [nan],
  'categories_combined': ['SUPPORTIVE CARE|||||'],
  'who_edl_v2': [nan],
  'india_edl_v1_draft': [nan],
  'test_format': ['Mammography'],
  'specimen_type': ['Not applicable'],
  'laboratory': ['Radiology'],
  'nigeria_eml_2016': [nan],
  'nigeria_eml_2016_level': [nan],
  'nigeria_eml_2016_todo': [nan],
  'nigeria_eml_2016_enteredby': [nan],
  'eml_cat_1': ['SUPPORTIVE CARE'],
  'india_edl_v1_sup_draft': [nan],
  'who_edl_v2_tier': [nan],
  'india_edl_v1': [nan],
  'india_edl_v1_tier': [nan],
  'user_edl': [nan],
  'nigeria_test_tier_capacity': [nan],
  'ghana_nhis': [nan],
  'ghana_nhis_reimbursement_usd': [nan],
  'lancet_test_tier_capacity': [nan],
  'who_edl_v2_condition': ['Yes'],
  'test_format_lancet_tier': ['Tertiary'],
  'test_format_lancet_include': ['Yes'],
  'lancet_indication_exclude': [nan],
  'condition_name_lancet': ['Breast cancer'],
  'clinical_chemistry': [nan],
  'higherpriority': ['Yes'],
  'indonesia_eml_phc': [nan],
  'indonesia_phc_conditions': [nan],
  'indonesia_phc_exclude': [nan]},
 'Ultrasound': {'testname': ['Ultrasound'],
  'category': ['Condition Specific'],
  'conditionname': ['Chronic kidney disease',
   'Liver cancer',
   'Stroke',
   'Colorectal cancer, metastatic',
   'Trauma'],
  'conditionlevel': ['moderate'],
  'testreason': ['Diagnosis'],
  'testnote': ['Transcranial doppler', nan],
  'medicineorconditionnote': [nan],
  'sublist': ['Higher Priority Clinical Testing'],
  'medicine': ['verapamil',
   'clopidogrel',
   'spironolactone',
   'fluorouracil',
   'furosemide',
   'capecitabine',
   'hydrochlorothiazide',
   'oxaliplatin',
   'enalapril',
   'supportive care',
   'bisoprolol',
   'amlodipine',
   'losartan'],
  'conditionnotefromusestable': ['edema', nan],
  'medicineusesgeneralnote': ['Periph arterial disease? ', nan],
  'categories': ['CARDIOVASCULAR MEDICINES|Antihypertensive medicines||||',
   'CARDIOVASCULAR MEDICINES|Antithrombotic medicines|Anti platelet medicines|||',
   'CARDIOVASCULAR MEDICINES|Antiarrhythmic medicines||||',
   'SUPPORTIVE CARE|||||',
   'ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotoxic and adjuvant medicines||||',
   'DIURETICS|||||'],
  'lancet_gbd': ['Yes'],
  'lancet_condition_tier': ['Secondary', 'Tertiary'],
  'ghana_condition_tier': [nan],
  'india_condition_tier': [nan],
  'nigeria_condition_tier': ['Hospital', nan],
  'kenya_condition_tier': [nan],
  'who_edl_indications': [nan],
  'test_name_short': ['Ultrasound'],
  'test_name_pretty': ['Ultrasound'],
  'clinical_service': ['Oncology', 'Cardiology', 'Nephrology', 'Surgery'],
  'who_eml_v19': ['Yes', 'No'],
  'who_eml_v20': ['Yes'],
  'who_eml_v20_core': ['Yes', 'No'],
  'who_eml_v20_complementary': ['Yes', 'No'],
  'india_eml_2015_core': ['Yes', 'No'],
  'ghana_nhis_2018': ['Yes', nan],
  'ghana_eml_2010': ['Yes', 'No'],
  'ghana_eml_2017': ['Yes', 'No'],
  'ghana_eml_2017_level': ['B2', 'C', 'B1', nan],
  'ghana_eml_2017_reimbursed': ['Yes', nan],
  'notes': ['early stage breast cancer, early stage colon cancer, early stage rectal cancer, metastatic colorectal cancer, nasopharyngeal cancer',
   'includes atenolol, metoprolol and carvedilol as alternatives. Atenolol should not be used as a first line agent in uncomplicated hypertension in patients >60 years',
   'early stage colon cancer, early stage rectal cancer, metastatic breast cancer, metastatic colorectal cancer',
   'early stage colon cancer, metastatic colorectal cancer',
   nan],
  'medicine_name': ['verapamil',
   'clopidogrel',
   'spironolactone',
   'fluorouracil',
   'furosemide',
   'capecitabine',
   'hydrochlorothiazide',
   'oxaliplatin',
   'enalapril',
   'supportive care',
   'bisoprolol',
   'amlodipine',
   'losartan'],
  'representative': [1.0, nan],
  'preferred': [1.0, nan],
  'view_order': [229.0,
   231.0,
   232.0,
   233.0,
   522.0,
   235.0,
   237.0,
   496.0,
   240.0,
   284.0,
   510.0,
   287.0,
   nan],
  'ghana_eml_2017_todo': ['No'],
  'uid': [1283.0,
   1731.0,
   1193.0,
   1260.0,
   1165.0,
   1261.0,
   1264.0,
   1267.0,
   1364.0,
   1269.0,
   1272.0,
   1369.0,
   1180.0],
  'enteredby': ['dmanthei', nan],
  'ghana_nhis_2018_level': ['B2', 'C', 'B1', nan],
  'kenya_eml_2016': ['Yes', 'No'],
  'kenya_eml_2016_level': ['S', '4', nan],
  'kenya_eml_2016_todo': ['Preexisting', nan],
  'categories_combined': ['CARDIOVASCULAR MEDICINES|Antihypertensive medicines||||',
   'CARDIOVASCULAR MEDICINES|Antithrombotic medicines|Anti platelet medicines|||',
   'CARDIOVASCULAR MEDICINES|Antiarrhythmic medicines||||',
   'SUPPORTIVE CARE|||||',
   'ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotoxic and adjuvant medicines||||',
   'DIURETICS|||||'],
  'who_edl_v2': [nan],
  'india_edl_v1_draft': [nan],
  'test_format': ['Ultrasound'],
  'specimen_type': ['Not applicable'],
  'laboratory': ['Radiology'],
  'nigeria_eml_2016': ['Yes', nan],
  'nigeria_eml_2016_level': ['Primary Health Clinic', 'Hospital', nan],
  'nigeria_eml_2016_todo': ['Preexisting', nan],
  'nigeria_eml_2016_enteredby': ['harikay', nan],
  'eml_cat_1': ['CARDIOVASCULAR MEDICINES',
   'ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES',
   'DIURETICS',
   'SUPPORTIVE CARE'],
  'india_edl_v1_sup_draft': [nan],
  'who_edl_v2_tier': [nan],
  'india_edl_v1': [nan],
  'india_edl_v1_tier': [nan],
  'user_edl': [nan],
  'nigeria_test_tier_capacity': [nan],
  'ghana_nhis': [nan],
  'ghana_nhis_reimbursement_usd': [nan],
  'lancet_test_tier_capacity': [nan],
  'who_edl_v2_condition': ['Yes'],
  'test_format_lancet_tier': ['Secondary'],
  'test_format_lancet_include': ['Yes'],
  'lancet_indication_exclude': [nan],
  'condition_name_lancet': ['Colorectal cancer',
   'Chronic kidney disease',
   'Liver cancer',
   'Cerebrovascular disease',
   'Trauma'],
  'clinical_chemistry': [nan],
  'higherpriority': ['Yes'],
  'indonesia_eml_phc': ['Yes', nan],
  'indonesia_phc_conditions': ['Yes', nan],
  'indonesia_phc_exclude': [nan]},
 'X-ray': {'testname': ['X-ray'],
  'category': ['Condition Specific'],
  'conditionname': ['Hypertensive heart disease',
   'Malaria',
   'Lung cancer, non small cell',
   'Tuberculosis',
   'Pneumonia community (severe)',
   'COPD',
   'Trauma',
   'Acute coronary syndrome'],
  'conditionlevel': ['moderate', 'triage'],
  'testreason': ['Monitoring', 'DiffDiagnosis', 'Diagnosis'],
  'testnote': ['Chest X-ray. Indicated for most dyspneic patients, particularly those who are over age 40, have suspected heart failure or interstitial disease, or abnormal PFTs. Not needed in routine evaluation of asthma.',
   'Chest X-ray',
   'pnuemonia; chest xray',
   'PE, dissection',
   nan],
  'medicineorconditionnote': [nan],
  'sublist': ['Remaining', 'Higher Priority Clinical Testing'],
  'medicine': ['amiloride',
   'artesunate_mefloquine',
   'clopidogrel',
   'clarithromycin',
   'losartan',
   'artemether_lumefantrine',
   'ethambutol',
   'isoniazid',
   'sulfadoxine_pyrimethamine',
   'spironolactone',
   'benzylpenicillin',
   'ipratropium bromide',
   'hydrochlorothiazide',
   'supportive care',
   'ampicillin',
   'salbutamol',
   'amodiaquine',
   'simvastatin',
   'artesunate _amodiaquine',
   'artemether',
   'furosemide',
   'ethambutol_isoniazid_ rifampicin ',
   'rifampicin_isoniazid',
   'rifampicin_isoniazid_pyrazinamide_ethambutol',
   'artesunate',
   'primaquine',
   'bisoprolol',
   'budesonide_formoterol',
   'beclometasone',
   'amoxicillin_clavulanic acid',
   'doxycycline',
   'rifampicin_isoniazid_pyrazinamide',
   'ethambutol_isoniazid ',
   'amoxicillin'],
  'conditionnotefromusestable': ['edema', 'acute and prophylaxis', nan],
  'medicineusesgeneralnote': ['Periph arterial disease? ', nan],
  'categories': ['ANTI INFECTIVE MEDICINES|Antibacterials|Antituberculosis medicines|||',
   'CARDIOVASCULAR MEDICINES|Antithrombotic medicines|Anti platelet medicines|||',
   'ANTI INFECTIVE MEDICINES|Antibacterials|Beta Lactam medicines|||',
   'MEDICINES ACTING ON THE RESPIRATORY TRACT|Antiasthmatic and medicines for chronic obstructive pulmonary disease||||',
   'CARDIOVASCULAR MEDICINES|Lipid lowering agents||||',
   'DIURETICS|||||',
   'SUPPORTIVE CARE|||||',
   'CARDIOVASCULAR MEDICINES|Medicines used in heart failure||||',
   'ANTI INFECTIVE MEDICINES|Antibacterials|Other antibacterials|||',
   'ANTI INFECTIVE MEDICINES|Antiprotozoal medicines|Antimalarial medicines|For curative treatment||'],
  'lancet_gbd': ['Yes'],
  'lancet_condition_tier': ['Primary', 'Secondary'],
  'ghana_condition_tier': [nan],
  'india_condition_tier': [nan],
  'nigeria_condition_tier': ['Health Centre', 'Hospital', nan],
  'kenya_condition_tier': [nan],
  'who_edl_indications': [nan],
  'test_name_short': ['X-ray'],
  'test_name_pretty': ['X-ray'],
  'clinical_service': ['Pulmonary',
   'Cardiology',
   'Infectious disease',
   'Surgery',
   'Oncology'],
  'who_eml_v19': ['Yes', 'No'],
  'who_eml_v20': ['Yes'],
  'who_eml_v20_core': ['Yes'],
  'who_eml_v20_complementary': ['No'],
  'india_eml_2015_core': ['Yes', 'No'],
  'ghana_nhis_2018': ['Yes', nan],
  'ghana_eml_2010': ['Yes', 'No'],
  'ghana_eml_2017': ['Yes', 'No'],
  'ghana_eml_2017_level': ['B2', 'PM', 'D', 'C', 'B1', 'A', nan],
  'ghana_eml_2017_reimbursed': ['Yes', 'No', nan],
  'notes': ['*erythromycin may be an alternative. ?clarithromycin is also listed for use in combination regimens for eradication of H. pylori in adults FIRST CHOICE  community acquired pneumonia (severe) SECOND CHOICE ? pharyngitis clindamycin For Kenya, use only in combination drug regimes for treatment of H pylori infection',
   'FIRST CHOICE   community acquired pneumonia (severe) [c]   complicated severe acute malnutrition [c]   sepsis in neonates and children [c] SECOND CHOICE   acute bacterial meningitis',
   'Only in combination with artesunate 50 mg. For Kenya, listed under intermittent treatment in pregnancy',
   'To be used in combination with either amodiaquine, mefloquine or sulfadoxine + pyrimethamine. For Kenya, always follow artesunate treatment with 3-day course of artemether+lumafantrine',
   'For use in the management of severe malaria',
   'To be used in combination with artesunate 50 mg',
   'For Kenya, do nor use in first trimester.',
   'FIRST CHOICE   community acquired pneumonia (mild to moderate)   community acquired pneumonia (severe) [c]   complicated severe acute malnutrition [c]   exacerbations of COPD   lower urinary tract infections   otitis media   pharyngitis   sepsis in neonates and children [c]   sinusitis   uncomplicated severe acute malnutrition [c]  SECOND  acute bacterial meningitis',
   'Only for use to achieve radical cure of P.vivax and P.ovale infections, given for 14 days.',
   'For Kenya, budesonide inhalation available as alternative.',
   'FIRST CHOICE   Chlamydia trachomatis ? cholera SECOND CHOICE   cholera [c]  community acquired pneumonia (mild to moderate)   exacerbations of COPD For Kenya, use in children <8 years only for life-threatening infections',
   'For use only in combination with quinine.',
   'FIRST CHOICE  community acquired pneumonia (severe) [c]   complicated severe acute malnutrition [c]   sepsis in neonates and children [c] ? syphilis SECOND CHOICE   acute bacterial meningitis[c]  in Kenya, only at level 2 facility in pre-referral management of very sick child',
   'For use in high risk patients',
   'FIRST CHOICE   community acquired pneumonia (severe) [c]   complicated intraabdominal infections (mild to moderate)   exacerbations of COPD   hospital acquired pneumonia   low risk febrile neutropenia   lower urinary tract infections   sinusitis   skin and soft tissue infections;  SECOND CHOICE   bone and joint infections   community acquired pneumonia (mild to moderate)   community acquired pneumonia (severe)   otitis media',
   nan],
  'medicine_name': ['amiloride',
   'artesunate_mefloquine',
   'clopidogrel',
   'clarithromycin',
   'losartan',
   'artemether_lumefantrine',
   'ethambutol',
   'isoniazid',
   'sulfadoxine_pyrimethamine',
   'spironolactone',
   'benzylpenicillin',
   'ipratropium bromide',
   'hydrochlorothiazide',
   'supportive care',
   'ampicillin',
   'salbutamol',
   'amodiaquine',
   'simvastatin',
   'artesunate _amodiaquine',
   'artemether',
   'furosemide',
   'ethambutol_isoniazid_ rifampicin ',
   'rifampicin_isoniazid',
   'rifampicin_isoniazid_pyrazinamide_ethambutol',
   'artesunate',
   'primaquine',
   'bisoprolol',
   'budesonide_formoterol',
   'beclometasone',
   'amoxicillin_clavulanic acid',
   'doxycycline',
   'rifampicin_isoniazid_pyrazinamide',
   'ethambutol_isoniazid ',
   'amoxicillin'],
  'representative': [1.0, nan],
  'preferred': [1.0, nan],
  'view_order': [150.0,
   151.0,
   152.0,
   153.0,
   154.0,
   283.0,
   155.0,
   157.0,
   159.0,
   161.0,
   72.0,
   73.0,
   74.0,
   75.0,
   76.0,
   77.0,
   78.0,
   247.0,
   96.0,
   97.0,
   98.0,
   100.0,
   363.0,
   365.0,
   367.0,
   240.0,
   368.0,
   242.0,
   243.0,
   246.0,
   119.0,
   248.0,
   121.0,
   250.0,
   nan],
  'ghana_eml_2017_todo': ['No'],
  'uid': [1283.0,
   1028.0,
   1029.0,
   1030.0,
   1031.0,
   1287.0,
   1289.0,
   1032.0,
   1033.0,
   1038.0,
   1295.0,
   1296.0,
   1294.0,
   1042.0,
   1298.0,
   1040.0,
   1825.0,
   936.0,
   937.0,
   938.0,
   940.0,
   951.0,
   952.0,
   953.0,
   957.0,
   958.0,
   961.0,
   1731.0,
   1490.0,
   1362.0,
   1492.0,
   982.0,
   985.0,
   1497.0,
   1500.0],
  'enteredby': ['dmanthei', nan],
  'ghana_nhis_2018_level': ['B2', 'D', 'C', 'B1', 'A', nan],
  'kenya_eml_2016': ['Yes', 'No'],
  'kenya_eml_2016_level': ['2', '1', 'S', '4', '3', nan],
  'kenya_eml_2016_todo': ['Preexisting', nan],
  'categories_combined': ['ANTI INFECTIVE MEDICINES|Antibacterials|Antituberculosis medicines|||',
   'CARDIOVASCULAR MEDICINES|Antithrombotic medicines|Anti platelet medicines|||',
   'ANTI INFECTIVE MEDICINES|Antibacterials|Beta Lactam medicines|||',
   'MEDICINES ACTING ON THE RESPIRATORY TRACT|Antiasthmatic and medicines for chronic obstructive pulmonary disease||||',
   'CARDIOVASCULAR MEDICINES|Lipid lowering agents||||',
   'DIURETICS|||||',
   'SUPPORTIVE CARE|||||',
   'CARDIOVASCULAR MEDICINES|Medicines used in heart failure||||',
   'ANTI INFECTIVE MEDICINES|Antibacterials|Other antibacterials|||',
   'ANTI INFECTIVE MEDICINES|Antiprotozoal medicines|Antimalarial medicines|For curative treatment||'],
  'who_edl_v2': [nan],
  'india_edl_v1_draft': [nan],
  'test_format': ['X-ray'],
  'specimen_type': ['Not applicable'],
  'laboratory': ['Radiology'],
  'nigeria_eml_2016': ['Yes', nan],
  'nigeria_eml_2016_level': ['Health Centre',
   'Primary Health Clinic',
   'Health Post',
   'Hospital',
   nan],
  'nigeria_eml_2016_todo': ['Preexisting', nan],
  'nigeria_eml_2016_enteredby': ['harikay', nan],
  'eml_cat_1': ['CARDIOVASCULAR MEDICINES',
   'DIURETICS',
   'SUPPORTIVE CARE',
   'MEDICINES ACTING ON THE RESPIRATORY TRACT',
   'ANTI INFECTIVE MEDICINES'],
  'india_edl_v1_sup_draft': [nan],
  'who_edl_v2_tier': [nan],
  'india_edl_v1': [nan],
  'india_edl_v1_tier': [nan],
  'user_edl': [nan],
  'nigeria_test_tier_capacity': [nan],
  'ghana_nhis': [nan],
  'ghana_nhis_reimbursement_usd': [nan],
  'lancet_test_tier_capacity': [nan],
  'who_edl_v2_condition': ['Yes'],
  'test_format_lancet_tier': ['Secondary'],
  'test_format_lancet_include': ['Yes'],
  'lancet_indication_exclude': [nan],
  'condition_name_lancet': ['Hypertensive heart disease',
   'Lower respiratory infections',
   'Malaria',
   'Tuberculosis',
   'COPD',
   'Trauma',
   'Ischemic heart disease',
   'Lung cancer'],
  'clinical_chemistry': [nan],
  'higherpriority': ['Yes'],
  'indonesia_eml_phc': ['Yes', nan],
  'indonesia_phc_conditions': ['Yes', nan],
  'indonesia_phc_exclude': [nan]}}

In [8]:
input_df = test_to_col_to_detail

def generate_test_detail_dataframe(input_df):
    test_list = input_df.keys()
    col_names = list(next(iter(input_df.values())).keys())
    col_names.remove('testname')
    
    for col in col_names:
        test_to_detail_list = {test: list(set(map(str,input_df[test][col]))) for test in test_list}
        yield col, create_sorted_dataframe(test_to_detail_list)

In [9]:
for _ in iter(generate_test_detail_dataframe(input_df)):
    print(_[0])
    display(_[1])

category

          Mammography          Ultrasound               X-ray
0  Condition Specific  Condition Specific  Condition Specific

conditionname

,Mammography,Ultrasound,X-ray
0,"Breast cancer, metastatic",Trauma,Tuberculosis
1,,Stroke,Trauma
2,,Liver cancer,Pneumonia community (severe)
3,,"Colorectal cancer, metastatic",Malaria
4,,Chronic kidney disease,"Lung cancer, non small cell"
5,,,Hypertensive heart disease
6,,,COPD
7,,,Acute coronary syndrome

conditionlevel

  Mammography Ultrasound     X-ray
0      triage   moderate    triage
1                         moderate

testreason

  Mammography Ultrasound          X-ray
0   Diagnosis  Diagnosis     Monitoring
1                         DiffDiagnosis
2                             Diagnosis

testnote

,Mammography,Ultrasound,X-ray
0,nan,nan,pnuemonia; chest xray
1,,Transcranial doppler,nan
2,,,"PE, dissection"
3,,,Chest X-ray. Indicated for most dyspneic patie...
4,,,Chest X-ray

medicineorconditionnote

  Mammography Ultrasound X-ray
0         nan        nan   nan

sublist

,Mammography,Ultrasound,X-ray
0,Higher Priority Clinical Testing,Higher Priority Clinical Testing,Remaining
1,,,Higher Priority Clinical Testing

medicine

,Mammography,Ultrasound,X-ray
0,supportive care,verapamil,supportive care
1,,supportive care,sulfadoxine_pyrimethamine
2,,spironolactone,spironolactone
3,,oxaliplatin,simvastatin
4,,losartan,salbutamol
5,,hydrochlorothiazide,rifampicin_isoniazid_pyrazinamide_ethambutol
6,,furosemide,rifampicin_isoniazid_pyrazinamide
7,,fluorouracil,rifampicin_isoniazid
8,,enalapril,primaquine
9,,clopidogrel,losartan
10,,capecitabine,isoniazid
11,,bisoprolol,ipratropium bromide
12,,amlodipine,hydrochlorothiazide
13,,,furosemide
14,,,ethambutol_isoniazid_ rifampicin
15,,,ethambutol_isoniazid
16,,,ethambutol
17,,,doxycycline
18,,,clopidogrel
19,,,clarithromycin
20,,,budesonide_formoterol
21,,,bisoprolol
22,,,benzylpenicillin
23,,,beclometasone
24,,,artesunate_mefloquine
25,,,artesunate _amodiaquine
26,,,artesunate
27,,,artemether_lumefantrine
28,,,artemether
29,,,ampicillin
30,,,amoxicillin_clavulanic acid
31,,,amoxicillin
32,,,amodiaquine
33,,,amiloride

conditionnotefromusestable

  Mammography Ultrasound                  X-ray
0         nan        nan                    nan
1                  edema                  edema
2                         acute and prophylaxis

medicineusesgeneralnote

  Mammography                 Ultrasound                      X-ray
0         nan                        nan                        nan
1              Periph arterial disease?   Periph arterial disease?

categories

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||
1,,DIURETICS|||||,MEDICINES ACTING ON THE RESPIRATORY TRACT|Anti...
2,,CARDIOVASCULAR MEDICINES|Antithrombotic medici...,DIURETICS|||||
3,,CARDIOVASCULAR MEDICINES|Antihypertensive medi...,CARDIOVASCULAR MEDICINES|Medicines used in hea...
4,,CARDIOVASCULAR MEDICINES|Antiarrhythmic medici...,CARDIOVASCULAR MEDICINES|Lipid lowering agents...
5,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotox...,CARDIOVASCULAR MEDICINES|Antithrombotic medici...
6,,,ANTI INFECTIVE MEDICINES|Antiprotozoal medicin...
7,,,ANTI INFECTIVE MEDICINES|Antibacterials|Other ...
8,,,ANTI INFECTIVE MEDICINES|Antibacterials|Beta L...
9,,,ANTI INFECTIVE MEDICINES|Antibacterials|Antitu...

lancet_gbd

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

lancet_condition_tier

  Mammography Ultrasound      X-ray
0     Primary   Tertiary  Secondary
1              Secondary    Primary

ghana_condition_tier

  Mammography Ultrasound X-ray
0           D        nan   nan

india_condition_tier

  Mammography Ultrasound X-ray
0           T        nan   nan

nigeria_condition_tier

  Mammography Ultrasound          X-ray
0    Hospital        nan            nan
1               Hospital       Hospital
2                         Health Centre

kenya_condition_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_indications

  Mammography Ultrasound X-ray
0         nan        nan   nan

test_name_short

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

test_name_pretty

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

clinical_service

  Mammography  Ultrasound               X-ray
0    Oncology     Surgery             Surgery
1                Oncology           Pulmonary
2              Nephrology            Oncology
3              Cardiology  Infectious disease
4                                  Cardiology

who_eml_v19

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

who_eml_v20

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

who_eml_v20_core

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes
1                     No

who_eml_v20_complementary

  Mammography Ultrasound X-ray
0          No        Yes    No
1                     No

india_eml_2015_core

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes
1                     No    No

ghana_nhis_2018

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

ghana_eml_2010

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

ghana_eml_2017

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

ghana_eml_2017_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      C    PM
2                     B2     D
3                     B1     C
4                           B2
5                           B1
6                            A

ghana_eml_2017_reimbursed

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes
2                           No

notes

,Mammography,Ultrasound,X-ray
0,nan,nan,nan
1,,"includes atenolol, metoprolol and carvedilol a...",To be used in combination with either amodiaqu...
2,,"early stage colon cancer, metastatic colorecta...",To be used in combination with artesunate 50 mg
3,,"early stage colon cancer, early stage rectal c...",Only in combination with artesunate 50 mg. For...
4,,"early stage breast cancer, early stage colon c...",Only for use to achieve radical cure of P.viva...
5,,,For use only in combination with quinine.
6,,,For use in the management of severe malaria
7,,,For use in high risk patients
8,,,"For Kenya, do nor use in first trimester."
9,,,"For Kenya, budesonide inhalation available as ..."
10,,,FIRST CHOICE community acquired pneumonia (se...
11,,,FIRST CHOICE community acquired pneumonia (s...
12,,,FIRST CHOICE community acquired pneumonia (s...
13,,,FIRST CHOICE community acquired pneumonia (m...
14,,,FIRST CHOICE Chlamydia trachomatis ? cholera...
15,,,*erythromycin may be an alternative. ?clarithr...

medicine_name

,Mammography,Ultrasound,X-ray
0,supportive care,verapamil,supportive care
1,,supportive care,sulfadoxine_pyrimethamine
2,,spironolactone,spironolactone
3,,oxaliplatin,simvastatin
4,,losartan,salbutamol
5,,hydrochlorothiazide,rifampicin_isoniazid_pyrazinamide_ethambutol
6,,furosemide,rifampicin_isoniazid_pyrazinamide
7,,fluorouracil,rifampicin_isoniazid
8,,enalapril,primaquine
9,,clopidogrel,losartan
10,,capecitabine,isoniazid
11,,bisoprolol,ipratropium bromide
12,,amlodipine,hydrochlorothiazide
13,,,furosemide
14,,,ethambutol_isoniazid_ rifampicin
15,,,ethambutol_isoniazid
16,,,ethambutol
17,,,doxycycline
18,,,clopidogrel
19,,,clarithromycin
20,,,budesonide_formoterol
21,,,bisoprolol
22,,,benzylpenicillin
23,,,beclometasone
24,,,artesunate_mefloquine
25,,,artesunate _amodiaquine
26,,,artesunate
27,,,artemether_lumefantrine
28,,,artemether
29,,,ampicillin
30,,,amoxicillin_clavulanic acid
31,,,amoxicillin
32,,,amodiaquine
33,,,amiloride

representative

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    1.0   1.0

preferred

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    1.0   1.0

view_order

   Mammography Ultrasound  X-ray
0          nan        nan    nan
1                   522.0   98.0
2                   510.0   97.0
3                   496.0   96.0
4                   287.0   78.0
5                   284.0   77.0
6                   240.0   76.0
7                   237.0   75.0
8                   235.0   74.0
9                   233.0   73.0
10                  232.0   72.0
11                  231.0  368.0
12                  229.0  367.0
13                         365.0
14                         363.0
15                         283.0
16                         250.0
17                         248.0
18                         247.0
19                         246.0
20                         243.0
21                         242.0
22                         240.0
23                         161.0
24                         159.0
25                         157.0
26                         155.0
27                         154.0
28                         153.0
29                         152.0
30                         151.0
31                         150.0
32                         121.0
33                         119.0
34                         100.0

ghana_eml_2017_todo

  Mammography Ultrasound X-ray
0          No         No    No

uid

   Mammography Ultrasound   X-ray
0       1731.0     1731.0   985.0
1                  1369.0   982.0
2                  1364.0   961.0
3                  1283.0   958.0
4                  1272.0   957.0
5                  1269.0   953.0
6                  1267.0   952.0
7                  1264.0   951.0
8                  1261.0   940.0
9                  1260.0   938.0
10                 1193.0   937.0
11                 1180.0   936.0
12                 1165.0  1825.0
13                         1731.0
14                         1500.0
15                         1497.0
16                         1492.0
17                         1490.0
18                         1362.0
19                         1298.0
20                         1296.0
21                         1295.0
22                         1294.0
23                         1289.0
24                         1287.0
25                         1283.0
26                         1042.0
27                         1040.0
28                         1038.0
29                         1033.0
30                         1032.0
31                         1031.0
32                         1030.0
33                         1029.0
34                         1028.0

enteredby

  Mammography Ultrasound     X-ray
0         nan        nan       nan
1               dmanthei  dmanthei

ghana_nhis_2018_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      C     D
2                     B2     C
3                     B1    B2
4                           B1
5                            A

kenya_eml_2016

  Mammography Ultrasound X-ray
0          No        Yes   Yes
1                     No    No

kenya_eml_2016_level

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                      S     S
2                      4     4
3                            3
4                            2
5                            1

kenya_eml_2016_todo

  Mammography   Ultrasound        X-ray
0         nan          nan          nan
1              Preexisting  Preexisting

categories_combined

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||,SUPPORTIVE CARE|||||
1,,DIURETICS|||||,MEDICINES ACTING ON THE RESPIRATORY TRACT|Anti...
2,,CARDIOVASCULAR MEDICINES|Antithrombotic medici...,DIURETICS|||||
3,,CARDIOVASCULAR MEDICINES|Antihypertensive medi...,CARDIOVASCULAR MEDICINES|Medicines used in hea...
4,,CARDIOVASCULAR MEDICINES|Antiarrhythmic medici...,CARDIOVASCULAR MEDICINES|Lipid lowering agents...
5,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES|Cytotox...,CARDIOVASCULAR MEDICINES|Antithrombotic medici...
6,,,ANTI INFECTIVE MEDICINES|Antiprotozoal medicin...
7,,,ANTI INFECTIVE MEDICINES|Antibacterials|Other ...
8,,,ANTI INFECTIVE MEDICINES|Antibacterials|Beta L...
9,,,ANTI INFECTIVE MEDICINES|Antibacterials|Antitu...

who_edl_v2

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1_draft

  Mammography Ultrasound X-ray
0         nan        nan   nan

test_format

   Mammography  Ultrasound  X-ray
0  Mammography  Ultrasound  X-ray

specimen_type

      Mammography      Ultrasound           X-ray
0  Not applicable  Not applicable  Not applicable

laboratory

  Mammography Ultrasound      X-ray
0   Radiology  Radiology  Radiology

nigeria_eml_2016

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

nigeria_eml_2016_level

  Mammography             Ultrasound                  X-ray
0         nan                    nan                    nan
1              Primary Health Clinic  Primary Health Clinic
2                           Hospital               Hospital
3                                               Health Post
4                                             Health Centre

nigeria_eml_2016_todo

  Mammography   Ultrasound        X-ray
0         nan          nan          nan
1              Preexisting  Preexisting

nigeria_eml_2016_enteredby

  Mammography Ultrasound    X-ray
0         nan        nan      nan
1                harikay  harikay

eml_cat_1

,Mammography,Ultrasound,X-ray
0,SUPPORTIVE CARE,SUPPORTIVE CARE,SUPPORTIVE CARE
1,,DIURETICS,MEDICINES ACTING ON THE RESPIRATORY TRACT
2,,CARDIOVASCULAR MEDICINES,DIURETICS
3,,ANTINEOPLASTICS AND IMMUNOSUPPRESSIVES,CARDIOVASCULAR MEDICINES
4,,,ANTI INFECTIVE MEDICINES

india_edl_v1_sup_draft

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_v2_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1

  Mammography Ultrasound X-ray
0         nan        nan   nan

india_edl_v1_tier

  Mammography Ultrasound X-ray
0         nan        nan   nan

user_edl

  Mammography Ultrasound X-ray
0         nan        nan   nan

nigeria_test_tier_capacity

  Mammography Ultrasound X-ray
0         nan        nan   nan

ghana_nhis

  Mammography Ultrasound X-ray
0         nan        nan   nan

ghana_nhis_reimbursement_usd

  Mammography Ultrasound X-ray
0         nan        nan   nan

lancet_test_tier_capacity

  Mammography Ultrasound X-ray
0         nan        nan   nan

who_edl_v2_condition

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

test_format_lancet_tier

  Mammography Ultrasound      X-ray
0    Tertiary  Secondary  Secondary

test_format_lancet_include

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

lancet_indication_exclude

  Mammography Ultrasound X-ray
0         nan        nan   nan

condition_name_lancet

     Mammography               Ultrasound                         X-ray
0  Breast cancer                   Trauma                  Tuberculosis
1                            Liver cancer                        Trauma
2                       Colorectal cancer                       Malaria
3                  Chronic kidney disease                   Lung cancer
4                 Cerebrovascular disease  Lower respiratory infections
5                                                Ischemic heart disease
6                                            Hypertensive heart disease
7                                                                  COPD

clinical_chemistry

  Mammography Ultrasound X-ray
0         nan        nan   nan

higherpriority

  Mammography Ultrasound X-ray
0         Yes        Yes   Yes

indonesia_eml_phc

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

indonesia_phc_conditions

  Mammography Ultrasound X-ray
0         nan        nan   nan
1                    Yes   Yes

indonesia_phc_exclude

  Mammography Ultrasound X-ray
0         nan        nan   nan

In [ ]:
# test_details = list(next(iter(data.values())).keys())
# test_details

In [ ]:
# # Function to compare multiple lists and create a DataFrame
# def compare_lists(data: dict) -> pd.DataFrame:
#     labels = list(data.keys())
#     lists = list(data.values())

#     # Determine the maximum length of the lists
#     max_length = max(len(lst) for lst in lists)
    
#     # Pad the shorter lists with empty strings
#     data = {label:data[label] + ([""]*(max_length - len(data[label]))) for label in  labels}

    
#     extended_lists = [lst + [""] * (max_length - len(lst)) for lst in lists]
#     print(extended_lists)
#     # Transpose the lists to get rows
#     rows = list(zip(*extended_lists))

#     # Function to sort items in each row in descending order, handling None values
#     def sort_row(row):
#         return sorted(row, key=lambda x: (x is None, str(x)), reverse=True)
    
#     # Sort each row and replace None with an empty string
#     sorted_rows = [sort_row([item if item is not None else "" for item in row]) for row in rows]
    
#     # Create a DataFrame for comparison
#     comparison_df = pd.DataFrame(sorted_rows, columns=labels)
#     return comparison_df

In [ ]:
input_data = all_test_detail_structure

In [ ]:
test_list = input_data.keys()
detail_titles = list(next(iter(input_data.values())).keys())

for detail in detail_list:
curr_detail = detail_titles[4] 
test_to_detail_list = {test: list(set(map(str,input_data[test][curr_detail]))) for test in test_list}
test_to_detail_list

In [ ]:
compare_lists(test_to_detail_list)

In [ ]:
def print_tree(d, indent='', last='updown'):
    """Recursively prints a tree structure of a nested dictionary."""
    if isinstance(d, dict):
        for i, (key, value) in enumerate(d.items()):
            up = '' if last == 'up' else ''
            down = '' if last == 'down' else ''
            next_last = 'down' if i == len(d) - 1 else 'up'
            print('{}{}'.format(indent, up if i == 0 else down))
            print('{}{}{}'.format(indent, ' ' if i == len(d) - 1 else ' ', key))
            if isinstance(value, dict):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                print_tree(value, next_indent, next_last)
            elif isinstance(value, list):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                for j, item in enumerate(value):
                    if j == len(value) - 1:
                        print('{}{}{}'.format(next_indent, ' ', item))
                    else:
                        print('{}{}{}'.format(next_indent, ' ', item))
                        
def build_tree_string(d, indent='', last='updown'):
    """Recursively builds a tree structure string of a nested dictionary."""
    tree_string = ''
    
    if isinstance(d, dict):
        for i, (key, value) in enumerate(d.items()):
            up = '' if last == 'up' else ''
            down = '' if last == 'down' else ''
            next_last = 'down' if i == len(d) - 1 else 'up'
            tree_string += '{}{}\n'.format(indent, up if i == 0 else down)
            tree_string += '{}{}{}\n'.format(indent, ' ' if i == len(d) - 1 else ' ', key)
            
            if isinstance(value, dict):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                tree_string += build_tree_string(value, next_indent, next_last)
            elif isinstance(value, list):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                for j, item in enumerate(value):
                    if j == len(value) - 1:
                        tree_string += '{}{}{}\n'.format(next_indent, ' ', item)
                    else:
                        tree_string += '{}{}{}\n'.format(next_indent, ' ', item)
    
    return tree_string

def build_tree_string(d, indent='', last='updown', is_top_level=True):
    """Recursively builds a tree structure string of a nested dictionary."""
    tree_string = ''
    
    if isinstance(d, dict):
        for i, (key, value) in enumerate(d.items()):
            up = '' if last == 'up' else ''
            down = '' if last == 'down' else ''
            next_last = 'down' if i == len(d) - 1 else 'up'
            if is_top_level:
                key = f"**{key}**"
            tree_string += '{}{}\n'.format(indent, up if i == 0 else down)
            tree_string += '{}{}{}\n'.format(indent, ' ' if i == len(d) - 1 else ' ', key)
            
            if isinstance(value, dict):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                tree_string += build_tree_string(value, next_indent, next_last, is_top_level=False)
            elif isinstance(value, list):
                next_indent = '{}{}'.format(indent, '    ' if i == len(d) - 1 else '   ')
                for j, item in enumerate(value):
                    if j == len(value) - 1:
                        tree_string += '{}{}{}\n'.format(next_indent, ' ', item)
                    else:
                        tree_string += '{}{}{}\n'.format(next_indent, ' ', item)
    
    return tree_string

In [ ]:
d={'Diagnostic': {'Laboratory': ['Blood bank', 'Immunology'], 'Test Format': ['Antimicrobial susceptibility testing'], 'Test Reason': [], 'Category': []}, 'Medicine': {'Medicine': ['BCG vaccine']}, 'Condition': {'High Burden Disease': [None], 'Clinical Service': ['Cardiology'], 'Condition Name': []}, 'WHO EDL/EML': {'WHO EDL v2': [], 'WHO EDL v2 Tier': [], 'WHO EML v20': [], 'EML Category': []}}

In [ ]:
build_tree_string(d)